<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
</head>
<body>

    <!-- component -->

    /* Estilos para el señalador de posición (border-left) */
    .sidebar li:hover a::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 4px;
      background: linear-gradient(to bottom, #00FFFF, #008080); /* Gradiente cyan */
    }

    /* Estilos para cambiar el color del ícono y el texto a blanco al pasar el cursor */
    .sidebar li:hover a i,
    .sidebar li:hover a span {
      color: white;
    }


  <!-- Sidebar -->
  <div class="fixed flex flex-col top-14 left-0 w-14 hover:w-64 md:w-64 bg-white h-full text-gray-600 transition-all duration-300 border-none z-10 sidebar">
    <div class="overflow-y-auto overflow-x-hidden flex flex-col justify-between flex-grow">
      <ul class="flex flex-col py-4 space-y-1">
        <li>
          <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-cyan-500 text-gray-600 hover:text-gray-800 border-l-4 border-transparent">
            <!-- Icono Home de Font Awesome -->
            <span class="inline-flex justify-center items-center ml-4">
              <i class="fas fa-home"></i>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">Inicio</span>
          </a>
        </li>
        <li>
          <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-cyan-500 text-gray-600 hover:text-gray-800 border-l-4 border-transparent">
            <!-- Icono Check Circle de Font Awesome -->
            <span class="inline-flex justify-center items-center ml-4">
              <i class="fas fa-check-circle"></i>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">Autorizaciones</span>
          </a>
        </li>
        <li>
          <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-cyan-500 text-gray-600 hover:text-gray-800 border-l-4 border-transparent">
            <!-- Icono Users de Font Awesome -->
            <span class="inline-flex justify-center items-center ml-4">
              <i class="fas fa-users"></i>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">Usuarios</span>
          </a>
        </li>
        <li>
          <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-cyan-500 text-gray-600 hover:text-gray-800 border-l-4 border-transparent">
            <!-- Icono Store de Font Awesome -->
            <span class="inline-flex justify-center items-center ml-4">
              <i class="fas fa-store"></i>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">Comercios</span>
          </a>
        </li>
        <li>
          <a href="#" class="relative flex flex-row items-center h-11 focus:outline-none hover:bg-cyan-500 text-gray-600 hover:text-gray-800 border-l-4 border-transparent">
            <!-- Icono Sign Out de Font Awesome -->
            <span class="inline-flex justify-center items-center ml-4">
              <i class="fas fa-sign-out-alt"></i>
            </span>
            <span class="ml-2 text-sm tracking-wide truncate">Cerrar Sesión</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- ./Sidebar -->

    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% include "includes/navbar.html" %}


    <div class="container">
    {% block body %}{% endblock %}
</div>
</body>
</html>